body {
    font-family: 'Changa', sans-serif;
    background-color: #9d9999;
}

.container {
    width: 70%;
    text-align: center;
}

.bikeImage {
    width: 12%;
    margin: 1rem;
    background-color: none;
}

.bikeImage:hover {
    transform: scale(1.5);
}

.avatars {
    width: 4%;
    padding-top: 2rem;
}

h1, h2 {
    color: #112b49;
    margin-top: 2rem;
}

.commentary {
    margin: 0 2rem 2rem 1rem;
}

.blockReviews {
    border: 2px solid #112b49;
    border-radius: 3rem;
    margin: 2rem 0;
    padding: 0 1rem;
    word-break: break-all;
}

ol, ul {
    display: inline-block;
    margin: auto;
}

table {
    display: table;
    margin: auto;
}

.username {
    font-weight: bold;
}

.rating {
    font-style: italic;
    font-weight: normal;
}

.tinybox {
    display: flex;
    justify-content: center;
}

.form-check {
    padding-right: 2rem;
}

.userRate {
    font-style: italic;
    font-size: 0.9rem;
}

.stars {
    margin-bottom: 1rem;
}

.date {
    font-weight: 500;
}

.close {
    cursor: pointer;
}

.checked {
    color: orange;
}

.btn-outline-info {
    display: block;
    margin: auto;
    margin-top: 2rem;
}

.reviewButton:hover {
    text-decoration: none;
}

.text-info {
    font-weight: 600;
}

.usersPhotos {
    padding: 2rem 0;
}

.uploadsImage {
    width: 20%;
    padding: 1rem;
}

.uploadsImage:hover {
    transform: scale(1.1);
}